* {
    box-sizing: border-box;
}

.form {
    border: 2px solid purple;
    width: 300px;
    text-align: center;
}

.data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.textField {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin-bottom: 5px;
}
.label {
    flex-basis: 70px;
}
.textFieldButton {
    justify-content: center;
    margin: 20px 0 15px 0;
}
.btn {
    height: 30px;
    color: white;
    background-color: purple;
}