h1 {
    text-align: center;
}
.block {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 20px;
    font-size: 18px;
    background-color: aqua;
    border: 2px;
    border-radius: 10px;
}