.STARS {
    margin: 0;
    width: 400px;
}
a.starRoll {
    background: url(img/star0.png);
    display: block;
    width: 75px;
    height: 78px;
    float: right;
    margin-right: 5px;
}

a.starRoll:hover, a.starRoll:hover ~ a {
    background: url(img/star1.png);
}
