.main {
    border: 1px solid red;
    font-size: 18px;
    width: 800px;
    display: inline-block;
    
}
.field {
    display: inline-block;
    float: left;
    clear: both;
    line-height: 25px;
}
.textField {
    margin-left: 200px;
    width: 100%;
}

label {
    display: block;
    width: 200px;
    float: left;
}
textarea {
    min-height: 150px;
}

@media and screen (max-width: 820px) {
    .main {
        width: 400px;
    }
}
