* {
    box-sizing: border-box;
}
.main {
    border: 1px solid red;
    font-size: 18px;
    width: 100%;
    display: inline-block;
    
}
.field {
    display: inline-block;
    width: 100%;
    clear: both;
    line-height: 25px;
}
.textField {
    width: 100%;
}

label {
    display: block;
    width: 15em;
    float: left;
}
textarea {
    min-height: 150px;
    min-width: 100%;
}

.textFieldBlock {
    margin-left: 15em;
}
.radioInput {
    display: inline-block;
}


@media screen and (max-width: 663px) {
    label {
        display: block;
        width: 12em;
    }
    .public {
        float: none;
    }

    .textFieldBlock {
        margin-left: 0;
    }
    select {
        width: 100%;
    }
    .radioInput {
        display: block;
    }
}
