* {
    margin: 0;
}

.registration {
    position: fixed;
    width: 100px;
    height: 30px;
    top: 10px;
    right: 15px;
    background-color: rgba(88, 92, 99, 0.6);
    color: white;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}

.registration a.reg {
    text-decoration: yellow;
    font-size: 15px;
}

.mainBlock {
    background: url('img/3.PNG') left repeat-y, url('img/2.png') right repeat-y;
    display: inline-block;    
}

.header, .footer {
    font-size: 32px;
    text-align: center;
    padding-top: 40px;
    text-transform: uppercase;
    height: 80px;
    width: 100%;
    color: white;
    background-color: #1D1D1D;
    clear: both;
}

h2 {
    margin-bottom: 20px;
}

.menuBar {
    float: left;
    width: 400px;
}

.menuBar2 {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

img.birdCaseDesk {
    padding: 0px 20px 20px 10px;
    float: left;
}

.birdCaseMobile {
    display: none;
}

li {
    margin-bottom: 5px;
    font-size: 22px;
}

li :hover{
    width: 1.5em;
    border: 1px solid white;    
    background-color: #1D1D1D;
    padding: 2px;  
    transition: 0.3s;
}

.blockInfo {
    margin-left: 400px;
    font-size: 18px;
}

.filmName {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}

.description {
    font-size: 20px;
}






@media screen and (max-width: 700px) {
    .footer, .header {
        display: none;
    }

    .mainBlock {
        background: none;
        background: url('img/2.png') right repeat-y;
    }

    .menuBar {
        display: none;
    }

    .menuBar2 {
        display: inline-block;
        padding: 10px 0px 10px 0px;
        width: 100%;
        background: url('img/3.PNG') repeat;    
    }

    .blockInfo {
        margin: 0;
        width: 100%;
    }

    .birdCaseDesk {
        display: none;
    }

    img.birdCaseMobile {
        display: block;
        width: 100%;
    }

    h2.list {
        padding-top: 10px;
    }

    h3.filmName {
        margin: 10px 0px 20px 0px;
    }

    ul {
        display: inline-block;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    li {
        margin-bottom: 5px;
        margin-left: 10px;
        list-style-type: none;
        float: left;
    }   

    li, p.description {
        font-size: 17px;
    }

    h2.list   {
        text-align: center;
        padding-top: 0;
    }

    
}

@media screen and (min-width: 701px) and (max-width: 822px) {
    img.birdCaseDesk {
        float: none;
        /* width: 320px; */
    }
}

@media screen and (max-width: 500px) {
    .registration {
        top: 70px;
    }
}